

.eb-garamond-font {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;


}
.primary-btn{
    background-color: #B68C5A;
    padding: 10px 15px;
    color: white;
    font-weight: 600;
    border-radius: 5px;

    }
/* banner section */
.banner{
    width: 1280px;
    height: 550px;
    background-image: url('./images/Rectangle\ 5.png'), url('./images/banner.png');
    background-position: center top, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    margin: auto;
    border-radius: 5px;
}
.banner-content{
    width: 690px;
    height: 355px;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: auto;
   
    
}

.title{
    font-size: 72px;
    font-weight: 800;
    color: #FFFFFF;
    line-height: 100%;
    padding-top: 60px;

}

/*  card section */

.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1280px;
    height: 900px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 50px;
       
}

.cards{
    width: 100%;
    height: 500px;   
    border-bottom: #B68C5A 1px  solid; 
          
  }

.cards h1 {
    font-size: 32px;
    font-weight: 800;
    padding-bottom: 15px;
    
}

.cards img {
     display: inline-block;
     margin-bottom: 15px;
     padding-top: 50px;
}

.cards p{
    width: 200px;
    height: 130px;
    margin: auto;

}

/* client section */

.client-say{
    max-width: 1280px;
    height: 700px;
    background-color: antiquewhite;
    margin: auto;
    margin-top: 200px;
}